body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}
.flex-container {
  display: flex;
  align-items: center;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding: 10px;
  max-height: 50px;
}
nav {
display: flex;
  align-items: center;
}
nav a {
  padding-right: 10px;
  color: seashell;
}

.container {

}

/*Hero and Mission*/
#hero {
  background-image: url("resources/img-mission-background.jpg");
  height: 700px;
}
#mission {
  background-color: black;
  text-align: center;
  width: 100%;
}

#main {
  display: block;
  text-align: center;
}
