body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}
.flex-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
/* Header */
header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid seashell;
}

.logo img {
  padding: 10px;
  max-height: 50px;
}

nav a {
  padding-right: 10px;
  color: seashell;
}

/*Hero and Mission*/
#hero {
  background-image: url("resources/img-mission-background.jpg");
  height: 700px;
  background-size: cover;
}
#mission {
  background-color: black;
  width: 100%;
}

#main {
  width: 1000px;
}
#products {
  display: flex;
  align-content: center;
  justify-content: space-around;
}
.items {
  display: flex;
}
#products img {
  width: 300px;
  height: 200px;
  /*padding: 10px;*/
}
